<div class="html">
  <div class="background" *ngIf="loggedTrueFalse == false">
    <h3 class="login">Login</h3>
    <form class="inputs" (submit)="login(firstName.value, lastName.value)">
      <label class="label">First Name</label>
      <input name="firstName" #firstName class="input" type="text" />
      <label class="label">Last Name</label>
      <input name="lastName" #lastName class="input" type="text" />
      <input class="button" type="submit" value="Login" />
    </form>
    {{ users[0].firstName }}
    {{ users[0].lastName }}
  </div>

  <div *ngIf="loggedTrueFalse == true" class="background" (click)="onClick()">
    <header>
      <span>
        {{ users[0].firstName }}
        {{ users[0].lastName }}
      </span>
      <span>
        {{ loggedInTime }}
      </span>
      <span> Clicks: {{ clickCount }} </span>
      <span> Characters: {{ charactersCount }} </span><span> Chats: 0 </span>
      <button (click)="logout()">Logout</button>
    </header>
    <div class="body">
      <div class="left">
        <div *ngFor="let user of users" class="user">
          <strong>
            {{ user.firstName }}
            {{ user.lastName }}
            <span>{{ user.email }}</span>
          </strong>
          <div class="open" *ngIf="clickUser == true && detailId == user.id">
            <div (click)="changeUserId(user.id)">Show details</div>
            <div
              (click)="
                tempChats = []; showChat = true; chatName = user.username
              "
              (click)="chatsOpened()"
            >
              Start chat
            </div>
          </div>
        </div>
      </div>
      <div class="middle">
        <div class="details">
          <!-- <div class="topPanel">
              <h3 class="details">Details</h3>
              <h6 class="closeDetails" (click)="closeDetail()">X</h6>
            </div> -->
          <img src="{{ users[0].image }}" alt="avatar" />
          <br />First Name: {{ users[0].firstName }}<br />Last Name:
          {{ users[0].lastName }}<br />Username: {{ users[0].username
          }}<br />Birthdate: {{ users[0].birthDate }}<br />
          Eye Color: {{ users[0].eyeColor }}<br />
          University: {{ users[0].university }}<br />MAC Address:
          {{ users[0].macAddress }}<br />IP Address: {{ users[0].ip
          }}<br />City: {{ users[0].company.address.city }}<br />
        </div>
        <div class="showMore">
          <button (click)="getData()" *ngIf="showData == false">
            Show more
          </button>
          <div class="moreData" *ngIf="showData == true">
            Country: {{ moreData.country }}<br />Gender:{{ genderData.gender }}
          </div>
          <button (click)="hideData()" *ngIf="showData == true">Hide</button>
        </div>
      </div>
      <div class="right">
        <div class="chat" *ngIf="showChat == true">
          <div class="header">
            {{ users[0].firstName }}
            <h6 class="close">X</h6>
          </div>
          <div class="messages">
            <div *ngFor="let message of tempChats" class="message">
              <div class="myMessage">
                <div class="text">
                  {{ message.text }}
                </div>
                <div class="time">
                  {{ message.time }}
                </div>
              </div>
              <div class="response">
                <div class="text">
                  {{ message.response }}
                </div>
                <div class="time">
                  {{ message.responseTime }}
                </div>
              </div>
            </div>
          </div>
          <div class="chatInput">
            <form class="chat" (ngSubmit)="handleSubmit($event)">
              <input
                placeholder="Message..."
                name="text"
                [(ngModel)]="text"
                class="search-field"
                (keyup)="handleKeyUp($event)"
                (keyup)="onChar($event)"
              />
              <button type="submit" class="search-button">></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="wrapper" (click)="onClick()">
  <div class="logged" *ngIf="logged == true">
    <div class="header">
      <div class="userInfo">
        <div class="name">
          <p class="firstName">{{ loggedFirstName }}</p>
          <p class="lastName">{{ loggedLastName }}</p>
        </div>
        <p class="logTime">{{ loggedTime }}</p>
      </div>
      <div class="loggedInfo">
        <p class="clicks">Clicks: {{ clickCount }}</p>
        <p class="chars">Characters: {{ charCount }}</p>
        <p class="chats">Chats opened: {{ chatsCount }}</p>
      </div>
      <div class="logout">
        <div class="logoutButton" (click)="logout()">Logout</div>
      </div>
    </div>
    <div class="body">
      <div class="left">
        <div *ngFor="let user of users" class="user" (click)="userClick(user.id)">
          {{ user.firstName }}
          {{ user.lastName }}
          <span class="mail">{{ user.email }}</span>
          <div class="userMore" *ngIf="userClicked == true && detailId == user.id">
            <div class="showDetail" (click)="changeUserId(user.id)">
              Show details
            </div>
            <div
              class="startChat"
              (click)="
                tempChats = []; showChat = true; chatName = user.username
              "
              (click)="chatsOpened()"
            >
              Start chat
            </div>
          </div>
        </div>
      </div>
      <div class="mid">
        <div class="topPanel" *ngIf="detailShow == false">
          <h3 class="details">Messages</h3>
        </div>
        <div class="messages" *ngIf="detailShow == false">
          <div *ngFor="let message of allChats" class="message">
            <div class="myMessage">
              <div class="autor">Me:</div>
              <div class="text">
                {{ message.text }}
              </div>
              <div class="time">
                {{ message.time }}
              </div>
            </div>
            <div class="response">
              <div class="autor">{{ message.receiver }}:</div>
              <div class="text">
                {{ message.response }}
              </div>
              <div class="time">
                {{ message.responseTime }}
              </div>
            </div>
          </div>
        </div>
        <div class="userDetails" *ngIf="detailShow == true">
          <div class="topPanel">
            <h3 class="details">Details</h3>
            <h6 class="closeDetails" (click)="closeDetail()">X</h6>
          </div>
          <div class="pfp">
            <img src="{{ userDetails.image }}" alt="avatar" />
          </div>
          <div class="info">
            <div class="labels">
              First Name:<br />Last Name:<br />Username:<br />Birthdate:<br />
              Eye Color:<br />
              University:<br />MAC Address:<br />IP Address:<br />City:<br />
            </div>
            <div class="data">
              {{ userDetails.firstName }}<br />
              {{ userDetails.lastName }}<br />
              {{ userDetails.username }}<br />
              {{ userDetails.birthDate }}<br />
              {{ userDetails.eyeColor }}<br />
              {{ userDetails.university }}<br />
              {{ userDetails.macAddress }}<br />
              {{ userDetails.ip }}<br />
              {{ userDetails.company.address.city }}<br />
            </div>
          </div>
          <div class="showMore">
            <button
              class="showData"
              (click)="getData()"
              *ngIf="showMoreData == false"
            >
              Show more
            </button>
            <div class="moreData" *ngIf="showMoreData == true">
              <div class="labels">Country:<br />Gender:</div>
              <div class="data">
                {{ zipData.country }}<br />{{ genderData.gender }}
              </div>
            </div>
            <button
              class="hideData"
              (click)="hideData()"
              *ngIf="showMoreData == true"
            >
              Hide
            </button>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="rightt" *ngIf="showChat == false">
          <div class="topPanel">
            <h3 class="name">Chat</h3>
          </div>
          <div class="image">
            <img src="../../../assets/images/chat.svg" alt="Chat bubble" />
          </div>
        </div>
        <div class="chat" *ngIf="showChat == true">
          <div class="topPanel">
            <h3 class="name">{{ chatName }}</h3>
            <h6 class="closeChat" (click)="closeChat()">X</h6>
          </div>
          <div class="messages">
            <div *ngFor="let message of tempChats" class="message">
              <div class="myMessage">
                <div class="text">
                  {{ message.text }}
                </div>
                <div class="time">
                  {{ message.time }}
                </div>
              </div>
              <div class="response">
                <div class="text">
                  {{ message.response }}
                </div>
                <div class="time">
                  {{ message.responseTime }}
                </div>
              </div>
            </div>
          </div>
          <div class="chatInput">
            <form class="chat" (ngSubmit)="handleSubmit($event)">
              <input
                placeholder="Message..."
                name="text"
                [(ngModel)]="text"
                class="search-field"
                (keyup)="handleKeyUp($event)"
                (input)="onChar($event)"
              />
              <button type="submit" class="search-button">
                <img src="../../../assets/images/send.svg" />
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="loggedOutInfo" *ngIf="logged == false">
    <button href="/login"><a href="/login">X</a></button>
    <div class="len">
      Total length of responses in your chats: {{ totalLenResponses }}
    </div>
    <div class="logoutTime">
      Amount of time logged in: {{ hoursLogged }}:{{ minutesLogged }}:{{
        secondsLogged
      }}
    </div>
  </div>
</div> -->
